<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.fusionchargeapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppBaseCompactTheme">

        <!-- ================ 配置成插件APP  start========================= -->
        <!-- MBusAccessProviderService这个Service必须声明，供Internal Bundle对外提供服务 -->
        <!--
        <service android:name="com.huawei.hae.mcloud.rt.mbus.access.MBusAccessProviderService" />

        &lt;!&ndash;Bundle别名必须与接口中保持一致&ndash;&gt;
        <meta-data
            android:name="com.huawei.hae.mcloud.SERVICE_PROVIDER"
            android:value="FusionChargeBundle" />
        <meta-data
            android:name="com.huawei.hae.mcloud.APP_NAME"
            android:value="FusionChargeBundle" />
        &lt;!&ndash;Bundle类型，此Bundle类型为1，也可以写成internal&ndash;&gt;
        <meta-data
            android:name="com.huawei.hae.mcloud.BUNDLE_TYPE"
            android:value="1" />
        -->
        <!-- ============================ 配置成插件APP  end====================== -->


        <!-- ======================配置成主App  start======================== -->
        <!--
          根据所需环境，修改替换value字段的相关信息：
          sit: http://mcloud-sit.huawei.com 开发环境
          uat: http://mcloud-uat.huawei.com  测试环境
          pro: http://w3m.huawei.com  生产环境
        -->
        <!--
       <meta-data
            android:name="com.huawei.hae.mcloud.domain.internal"
            android:value="http://mcloud-sit.huawei.com/mcloud/mag"/>
        <meta-data
            android:name="com.huawei.hae.mcloud.domain.external"
            android:value="http://mcloud-sit.huawei.com/mcloud/umag" />
        <meta-data
            android:name="env"
            android:value="sit"/>
        <service android:name="com.huawei.hae.mcloud.rt.MCloudRunTimeService">
            <intent-filter>
                <action android:name="com.huawei.mcloud.runtime.bindservice"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.huawei.hae.mcloud.rt.mbus.mbusrouter.service.BusRouterService"
            android:exported="true">
        </service>
       &lt;!&ndash; <service android:name="com.huawei.hae.mcloud.rt.mbus.access.MBusAccessProviderService"
            android:exported="true">
        </service>&ndash;&gt;

        <activity android:name="com.huawei.hae.mcloud.rt.pluginloader.PluginContainerActivity"
            android:theme="@android:style/Theme.Translucent"/>
        <service android:name="com.huawei.hae.mcloud.rt.service.ServiceContainers$ServiceContainer0"/>
        <service android:name="com.huawei.hae.mcloud.rt.service.ServiceContainers$ServiceContainer1"/>
        <service android:name="com.huawei.hae.mcloud.rt.service.ServiceContainers$ServiceContainer2"/>
        <service android:name="com.huawei.hae.mcloud.rt.service.ServiceContainers$ServiceContainer3"/>
        <service android:name="com.huawei.hae.mcloud.rt.service.ServiceContainers$ServiceContainer4"/>
        <service android:name="com.huawei.hae.mcloud.rt.service.ServiceContainers$ServiceContainer5"/>
        <service android:name="com.huawei.hae.mcloud.rt.service.ServiceContainers$ServiceContainer6"/>

        <provider
            android:authorities="com.huawei.fusionchargeapp.uat.provider"
            android:name="com.huawei.hae.mcloud.rt.provider.RuntimeProvider"
            android:exported="true"/>
        -->
        <!-- ======================配置成主App  end======================== -->


        <!-- ============== 单点登录  start================ -->
        <!-- 环境:sit/uat/pro -->
        <meta-data
            android:name="env"
            android:value="pro" />

        <!-- 是否为login登录 -->
        <meta-data
            android:name="uniportal"
            android:value="false" />
        <meta-data
            android:name="TFEnabled"
            android:value="false" />

        <!-- =========================单点登录  end================= -->

        <activity
            android:name=".views.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ChagerStatueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.PayCompleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.interfaces.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.InputNewPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AppointmentChargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AppointSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.interfaces.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ChargeDetailsActivity"
            android:screenOrientation="portrait" />

        <service android:name=".views.TimerService" />

        <activity
            android:name=".views.GuildActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ParkActivity"
            android:screenOrientation="portrait" />

        <!-- 支付宝 com.alipay.sdk.app.H5PayActivity -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx5e9afde80150f0e0" />
            </intent-filter>
        </activity>
        <!-- 高德地图 -->
        <!-- 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="5c12e0c2e5dbb47525b3c78fb597685b" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".views.ChargeOrderDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".views.ChargeCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ChargeInputNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.PublishCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".views.SearchStationTitleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".views.interfaces.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.UserInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ImageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerTheme" />
        <activity
            android:name=".views.MyAppointDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mycount.MyAcountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mycount.MyInvoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.RechargeAndConsumeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mycount.ApplyInvoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mycount.InvoiceHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mycount.InvoiceConsumeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mycount.InvoiceHistoryItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.SuggestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.MyTcActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.TaoCanPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mycount.InputContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mycount.ApplyOrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mycount.CashPatternActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".views.W3AccountBindPhoneActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".views.mycount.MyTaoCanActivity"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>